
.main{
    width: 100vw;
    height: 100vh;
}

.text-center{
    text-align: center;
}
.text-lg{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 60px;
}
.left-20{
    position: relative;
    left: 20px;
}
.bottom-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;


}

.measurement{
    width: 30vw;
    height: 100vh;

    
    background-color: #c0c0c0;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-showing-section{
    width: 70vw;
    height: 100vh;

    background:linear-gradient(90deg, #ddffd6 10%, #c09968 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner-container{
    width: 60vw;
    height: 60vw;
    overflow: scroll;
}
.mb-5{
    margin-bottom: 5px;

}

.text-input{
    width:350px;
    height: 30px;
    border: none;
}